// Play with opacity for cards
:root {
    --flag-color-1 : rgb(23,112,244);
    --flag-color-2 : rgb(255,255,255);
    --flag-color-3 : rgb(255,6,6);

   
    
    --main-color : #F6F6F6;
    --secondary-color : #343434;
    
    --main-font-color : '';
    
}



