/* You can add global styles to this file, and also import other style files */
@import './colors';
@import './fonts';
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: var(--main-font)
}
li{
    list-style: none;
}

.deco-title {
    font-family: var(--deco-font)
}

.container {
    max-width: 1024px;
    height: 20px;
    background-color: red;
    margin: auto;
    margin-top: 40px;
}